.theme-dark {
  --body-bg: hsl(180, 5%, 5%);
  --body-bg-overflow: hsl(180, 5%, 8%);
  --body-fg: hsl(180, 5%, 80%);
  --body-fg-highlight: hsl(180, 0%, 100%);
  --body-fg-dim: hsl(180, 5%, 60%);
}
.theme-dark {
  --nav-bg: hsl(180, 5%, 10%);
  --nav-fg: hsl(180, 5%, 80%);
  --nav-bg-highlight: hsl(180, 5%, 15%);
  --nav-fg-highlight: hsl(180, 100%, 100%);
  --nav-status-bg: hsl(180, 5%, 15%);
  --nav-status-fg: hsl(180, 5%, 70%);

  --nav-switch-btn-border: hsl(180, 5%, 50%);
  --nav-switch-btn-bg: hsl(180, 5%, 15%);
  --nav-switch-btn-bg-active: hsl(45, 90%, 50%);
  --nav-switch-btn-fg-active: hsl(180, 5%, 15%);
  --nav-switch-btn-bg-inactive: hsl(180, 5%, 40%);
  --nav-switch-btn-fg-inactive: hsl(180, 5%, 8%);
}
.theme-dark {
  --component-list-bg: hsl(180, 5%, 10%);
  --component-list-fg: hsl(180, 5%, 85%);
  --component-list-fg-dim: hsl(180, 5%, 50%);
  --component-list-border: hsl(180, 5%, 20%);
  --component-list-component-01: hsl(180, 5%, 85%);

  --component-list-bg-hover: hsl(180, 5%, 25%);
  --component-list-fg-hover: hsl(180, 5%, 100%);
  --component-list-fg-dim-hover: hsl(180, 5%, 80%);
  --component-list-border-hover: hsl(180, 5%, 75%);
  --component-list-component-01-hover: gold;
}
.theme-dark {
  --tab-bg: hsl(180, 5%, 10%);
  --tab-fg: hsl(180, 5%, 70%);
  --tab-border-color: hsl(180, 5%, 30%);

  --tab-bg-hover: hsl(180, 5%, 30%);
  --tab-fg-hover: hsl(180, 5%, 90%);
  --tab-border-color-hover: hsl(180, 5%, 70%);

  --tab-active-bg: hsl(180, 5%, 70%);
  --tab-active-fg: hsl(180, 5%, 0%);
  --tab-active-border-color: hsl(180, 5%, 90%);

  --tab-row-border-color: hsl(180, 5%, 70%);
  --tab-area-bg: hsl(180, 5%, 2%);
}
.theme-dark {
  --code-block-bg: hsl(180, 5%, 85%);
  --code-block-fg: hsl(180, 5%, 8%);
  --code-block-accent-bg: hsl(180, 5%, 15%);
  --code-block-accent-fg: var(--body-fg);
  --code-block-accent-fg-highlight: var(--body-fg-highlight);
}
