@use 'resets';
@use 'theme_dark';
@use 'theme_light';
@use 'variables';

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--body-bg-overflow);
  color: var(--body-fg);
  transition: background-color 1s, color 1s;
}

button {
  font-family: 'Poppins', sans-serif;
}

header > * {
  text-align: center;
  transition: color 1s;
  margin: 1rem auto;
}
